@use 'tokens' as *;

@media (max-width: $breakpoint-mobile) {
  .story-background::before {
    background-position: left center;
    background-size: cover;
  }

  .timeline-item:not(:last-child) {
    border-right: 0;
  }

  .timeline-item,
  .timeline-item:not(:first-child) {
    border-bottom: 1px solid rgb(248 246 240 / 25%);
    padding: 26px 0 30px 30px;

    &:last-child {
      border-bottom: 0;
    }

    h3 {
      margin: 14px 0 6px;
    }
  }

  .timeline-dot {
    left: -4px;
    top: 30px;
  }
}
