@use 'tokens' as *;

.timeline-item {
  position: relative;
  padding: 26px 20px 0 0;

  &:not(:last-child) {
    border-right: 1px solid rgb(248 246 240 / 25%);
  }

  &:not(:first-child) {
    padding-left: 20px;
  }

  time {
    color: var(--secondary);
    font-size: 13px;
  }

  h3 {
    font: 400 23px $font-display;
    margin: 57px 0 8px;
  }

  p {
    color: var(--paper);
    font-size: 13px;
    margin: 0;
  }
}

.timeline-dot {
  display: block;
  width: 9px;
  height: 9px;
  background: var(--secondary);
  border-radius: 50%;
  position: absolute;
  top: -5px;
}
